.section {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.background-wrap {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-wrap {
  width: 100%;
  height: 120px;
  background-color: rgba(73, 71, 63, 0.6);
}

.header {
  max-width: 1160px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  align-items: center;
}

.logo {
  height: 67px;
}

.logo > img {
  display: block;
  height: 100%;
  width: auto;
}

.header-menu-wrap  {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.header-menu > li > a {
  color: #d4d4d4;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-item {
  position: relative;
}

.menu-item:after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: rgb(24, 207, 171);
  position: absolute;
  bottom: -4px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.menu-item:hover:after {
  opacity: 1;
  z-index: 2;
}

.header-menu > li {
  font-family: "Montserrat";
  padding-right: 20px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
}

.intro-wrap {
  height: 890px;
  width: 100%;
}

.intro {
  max-width: 1160px;
  height: 585px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.intro-first {
  font-size: 35px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 45px;
}

.intro-first > span {
  color: rgb(24, 207, 171);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  font-family: "Montserrat";
}

.intro-second {
  font-size: 70px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.intro-third {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(212, 212, 212);
}

.buttons {
  height: 310px;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.explore-now-button {
  border: none;
  width: 165px;
  height: 60px;
  margin-right: 15px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(24, 207, 171);
  border-radius: 4px;
  border-top: 4px solid rgb(255, 255, 255);
  cursor: pointer;
  outline: none;
}

.explore-now-button:hover {
  background-color: #14a98c;
}

.purchase-now-button {
  margin-left: 15px;
  border: none;
  width: 165px;
  height: 60px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(0, 204, 255);
  border-radius: 4px;
  border-top: 4px solid rgb(255, 255, 255);
  cursor: pointer;
  outline: none;
}

.purchase-now-button:hover {
  background-color: #01a4c6;
}

.four-options {
  min-width: 1200px;
  width: 100%;
  height: 375px;
  display: flex;
  /*align-items: center;*/
  font-weight: bold;
  font-size: 20px;
}

.option {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 7px solid rgb(24, 207, 171);
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(28, 42, 51);
  color: rgb(24, 207, 171);
  text-transform: uppercase;
}

.option__image {
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}



.option:nth-child(even) {
  border-color: rgb(255, 255, 255);
  background-color: rgb(24, 207, 171);
  color: rgb(255, 255, 255);
}

.fully_customizable {
  font-size: 20px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 604.87px;
  top: 1247px;
  z-index: 394;
}

.services-wrap {
  width: 100%;
  background-color: #ffffff;
}

.services {
  padding: 85px 0;
}

.services-title {
  margin-bottom: 110px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  font-size: 36px;
  font-family: "Montserrat";
  color: rgb(78, 78, 78);
}

.services-title:before {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 45px);
}

.services-title:after {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -24px;
  right: calc(50% - 45px);
}

.services-tabs {
  display: flex;
  margin-bottom: 25px;
  position: relative;
}

.services-tabs-button {
  width: calc(100% / 6);
  height: 70px;
  cursor: pointer;
  outline: none;
  border: 1px solid #ebecec;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(113, 113, 113);
  background-color: #f8fcfe;
  position: relative
}

.services-tabs-button.active {
  color: #ffffff;
  background-color: rgb(24, 207, 171);
}

.services-tabs-button.active:after {
  content: '';
  display: block;
  height: 10px;
  width: 20px;
  background-color: rgb(24, 207, 171);
  position: absolute;
  left: calc(50% - 10px);
  bottom: -10px;
  opacity: 1;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.services-tabs-button:after {
  content: '';
  display: block;
  height: 10px;
  width: 20px;
  background-color: rgb(24, 207, 171);
  position: absolute;
  left: calc(50% - 10px);
  bottom: -10px;
  opacity: 0;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.services-tabs-button:hover {
  color: #ffffff;
  background-color: rgb(24, 207, 171);
}

.services-tabs-button:hover:after {
  z-index: 2;
  opacity: 1;
}

.services-card {
  display: none;
}

.services-card.active {
  display: flex;
}

.services-card-image {
  height: 135px;
  width: 195px;
  object-fit: cover;
}

.services-card-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(119, 119, 119);
  width: 948px;
  height: 113px;
  margin-left: 23px;
}

.everything-is-ready-background-wrap {
  background-image: url(../static/images/background2.png);
  height: 475px;
}

.everything-is-ready-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.everything-is-ready {
  margin-top: 130px;
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(24, 207, 171);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.everything-is-ready-p {
  margin-top: 35px;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(216, 216, 216);
  text-align: center;
}

.everything-is-ready-button {
  margin-top: 80px;
  border: none;
  width: 165px;
  height: 60px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(24, 207, 171);
  border-radius: 4px;
  border-top: 4px solid rgb(255, 255, 255);
  cursor: pointer;
  outline: none;
}

.everything-is-ready-button:hover {
  background-color: #14a98c;
}

.our-amazing-work-outer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f8fcfe;
  border-bottom: 1px solid #e1e1e1;
}

.our-amazing-work-title {
  font-size: 36px;
  margin-bottom: 110px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
}

.our-amazing-work {
  font-size: 36px;
  font-family: "Montserrat";
  color: rgb(78, 78, 78);
  text-transform: capitalize;
  text-align: center;
}

.our-amazing-work-title:before {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 45px);
}

.our-amazing-work-title:after {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -24px;
  right: calc(50% - 45px);
}

.filters {
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#buttons button {
  height: 58px;
  width: 144px;
  font-size: 14px;
  font-family: "Montserrat";
  color: #717171;
  background-color: #ffffff;
  border: none;
  border: 1px solid #ebebeb;
  outline: none;
  cursor: pointer;
  position: relative;
}

#buttons button:hover::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(24, 207, 171);
  position: absolute;
  top: -4px;
  left: 0;
}

#buttons button:nth-child(1) {
  height: 58px;
  width: 76px;
  font-size: 14px;
  font-family: "Montserrat";
  color: #717171;
}

#buttons .active {
  color: rgb(24, 207, 171);
}

#buttons button:hover {
  color: rgb(24, 207, 171);
}

.filter-images {
  height: 606px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
}

.additional-12-hidden {
  display: none;
}

.image {
  position: relative;
  width: 25%;
  height: 204px;
}

.image:hover .img-hover-wrap {
  opacity: 1;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-hover-wrap {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  border-top: 4px solid rgb(24, 207, 171);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8fcfe;
  opacity: 0;
  transition: all .2s ease-in-out;
  text-align: center;
}

.hover-images {
  width: 100%;
  height: 40px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.hover-left-icon-outer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(24, 207, 171);
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-right-icon-outer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(24, 207, 171);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-hover-text > p {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Montserrat";
  color: rgb(24, 207, 171);
  font-weight: bold;
  text-transform: uppercase;
}

.img-hover-text > span {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(138, 138, 138);
  text-transform: capitalize;
}

.load-more-button-wrap {
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.load-more-button {
  height: 62px;
  width: 180px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  background-color: rgb(24, 207, 171);
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.load-more-button:hover {
  background-color: #14a98c;
}

.load-more-button > img {
  padding-right: 16px;
}

.breaking-news-outer {
  width: 100%;
  padding-top: 82px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.breaking-news-title {
  margin-bottom: 110px;
  font-size: 36px;
  font-family: "Montserrat";
  text-align: center;
  color: rgb(78, 78, 78);
  text-transform: capitalize;
  position: relative;
}

.breaking-news-title:before {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 45px);
}

.breaking-news-title:after {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -24px;
  right: calc(50% - 45px);
}

.breaking-news-cards {
  display: flex;
  flex-wrap: wrap;
}

.breaking-news-card {
  width: 260px;
  height: 280px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}

.bn-link:hover .calendar-square{
  background-color: rgb(24, 207, 171);
}

.bn-link:hover .amazing-blog-post {
  color: rgb(24, 207, 171);
}

.bn-c-p {
  margin-bottom: 45px;
}

.bn-link {
  text-decoration: none;
}

.calendar-square {
  font-size: 16px;
  width: 65px;
  height: 65px;
  background-color: #203e38;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  text-transform: capitalize;
}

.calendar-square > span {
  padding-top: 8px;
}

.bn-image {
  width: 260px;
  height: 205px;
}

.bn-underimg-content {
  height: 70px;
  width: 100%;
  border: 1px solid #f2f4f5;
  background-color: #f8fcfe;
  display: flex;
  flex-direction: column;
}

.amazing-blog-post {
  font-size: 18px;
  padding-top: 15px;
  padding-left: 10px;
  font-family: "Montserrat";
  color: rgb(119, 119, 119);
  font-weight: bold;
  text-transform: capitalize;
}

.bn-admin-comments {
  display: flex;
  font-size: 14px;
  padding-bottom: 0px;
  font-family: "Montserrat";
  color: rgb(119, 119, 119);
  line-height: 2.783;
  text-align: center;
  position: relative;
}

.by-admin {
  padding-right: 30px;
  padding-left: 15px;
}

.by-admin:after {
  content: '';
  width: 1px;
  height: 13px;
  display: block;
  background-color: rgb(119, 119, 119);
  position: absolute;
  bottom: 13px;
  left: 97px;
}

.feedback-outer {
  height: 850px;
  width: 100%;
  background-image: url(../static/images/background3.png);
}

.feedback-title {
  font-size: 36px;
  padding-top: 100px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
}

.feedback-title:before {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 45px);
}

.feedback-title:after {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -24px;
  right: calc(50% - 45px);
}

.feedback-quotes {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-quotes > img {
  padding-top: 70px;
}

.feedback-text {
  font-size: 16px;
  padding-top: 40px;
  margin-bottom: 45px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
  text-align: center;
}

.copyright-outer {
  height: 110px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Montserrat";
  background-color: #22353f;
  color: rgb(174, 174, 174);
  display: flex;
  align-items: center;
  text-align: center;
}

.theHam-copy {
  color: rgb(24, 207, 171);
}

.theHam-copy:after {
  content: '';
  width: 1px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  background-color: rgb(174, 174, 174);
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
  max-width: 484px;
}

.person {
  margin-bottom: 25px;
}

.person .slick-slide {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-person-name {
  font-size: 16px;
  margin-bottom: 18px;
  font-family: "Montserrat";
  color: rgb(24, 207, 171);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.slide-person-job {
  font-size: 14px;
  margin-bottom: 28px;
  font-family: "Montserrat";
  color: #989d9f;
  text-align: center;
}

.slide-person-image-plate {
  width: 162px;
  height: 162px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.slide-person-image {
  display: block;
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgb(24, 207, 171);
}

.persons {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.persons-img-plate {
  height: 66px;
  width: 66px;
  background-color: #194743;
  border-radius: 50%;
  position: relative;
  top: 0;
  transition: all .2s ease-in-out;
}

.persons-img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.persons-img-plate .persons-img {
  width: 64px;
  height: 64px;
}

.bttn {
  width: 30px;
  height: 30px;
  border: 1px solid #909697;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bttn:hover {
  border: none;
  background-color: rgb(24, 207, 171);
}

/* customizing slick styles */
.persons .slick-list {
  width: calc(100% - 110px);
  padding: 5px 0 0 !important;
}

.persons .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.persons .persons-img-plate {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.persons .slick-current .persons-img-plate {
  top: -5px;
}

.persons .slick-current .persons-img-plate .persons-img {
  border: 2px solid rgb(24, 207, 171);
}

.slick-slide:hover .persons-img-plate {
  top: -5px;
}

.slick-slide:hover .persons-img {
  border: 2px solid rgb(24, 207, 171);
}

.slick-slide:focus {
  outline: 0;
}
